.modbox.modifier-value {
    width: 36px;
    height: 36px;
    font-weight: 600;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    background: none;
}

input.modbox.modifier-value::placeholder {
  color: #bbb;
  opacity: 1;
}

.modbox.modifier-value::-webkit-inner-spin-button, 
.modbox.modifier-value::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.modbox.modifier-value {
  -moz-appearance:textfield;
}